@import "../../../_build/_variables";

header.site-header{
  background: @jvandemo-dark-blue;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  @media (max-width: @screen-xs-max) {
    text-align: center;
  }
  ul{
    margin: 0;
    padding: 0;
    @media (max-width: @screen-xs-max) {
      display: inline-block;
    }
    li{
      display: inline-block;
      margin: 0 1rem;
      a{
        text-transform: uppercase;
        border-bottom: none;
        letter-spacing: 0.5px;
        color: @jvandemo-text-color-on-dark-blue;
        font-size: .75rem;
        font-weight: 400;
        &:hover{
          color: #eff1f3;
        }
      }
      &.active{
        a{
          color: #ffffff;
        }
      }
      &:first-child{
        @media (min-width: @screen-sm-min) {
          margin-left: 0;
        }
      }
    }
  }
}
