section.page.page-tools

    section.page-header
        .container
            .row
                .col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3
                    h1 Tools
                    h2
                        i.fa.fa-fw.fa-github
                        | Find me at <a href="https://github.com/jvandemo">https://github.com/jvandemo</a>.

    section.page-body
    .container
        .row
            .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2

                h2 Tools

                :markdown
                    Over the past few years I have gradually created my own set of tools to kickstart new projects in literally just seconds. This not only saves time and money but also avoids common errors by letting me use code that is already carefully unit tested. Some of these tools are made public and are also used by other web developers around the world:
                    ## JABL
                    <a href="https://github.com/jvandemo/generator-jabl">JABL</a> is a generator for <a href="http://yeoman.io">Yeoman</a>. I created JABL to quickly scaffold websites with **J**ade, **A**ngularJS, **B**ootstrap 3 and **L**ESS. It is a tool for developers that love working with Node.js and Express.js, but want to create a website that is hosted on a standard non-Node.js web server.
                    <iframe src="//player.vimeo.com/video/78984945", frameborder="0", webkitallowfullscreen, mozallowfullscreen, allowfullscreen></iframe>
                    [Visit the JABL website](https://github.com/jvandemo/generator-jabl).
                    ## Deqorator
                    Deqorator is a very lightweight queued decorator for Node.js to easily decorate objects using middleware.
                    <iframe src="//player.vimeo.com/video/89389165" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    [Visit the Deqorator website](https://github.com/jvandemo/deqorator).
                    ## CoconutJS
                    <a href="https://github.com/jvandemo/CoconutJS">CoconutJS</a> is a refreshing AngularJS library that provides useful generic AngularJS services, directives and filters. It also provides some Boostrap and jQuery UI specific directives and is used in several large projects.
                    [Visit the CoconutJS website](https://github.com/jvandemo/CoconutJS).
                    ## AngularJS Google Maps
                    <a href="https://github.com/jvandemo/angularjs-google-maps">AngularJS Google Maps</a> is an AngularJS library for working with Google Maps. Unline other Google Maps libraries, AngularJS Google Maps provides developers with easy-to-use AngularJS directives that require little to no programming knowledge to add Google Maps components to a website.
                    [Visit the AngularJS Google Maps website](https://github.com/jvandemo/angularjs-google-maps).
                    ## Ogone for PHP
                    <a href="https://github.com/jvandemo/Ogone">Ogone for PHP</a> is a library of PHP classes that allows PHP developers to automatically generate <a href="http://www.ogone.be/">Ogone</a> payment forms and handle Ogone responses. It is used by several companies to implement online payment.
                    [Visit the Ogone for PHP website](https://github.com/jvandemo/Ogone).
