section.page.page-about

    section.page-header
        .container
            .row
                .col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3
                    h1 Jurgen Van de Moere
                    h2
                        | Creator of AngularJS Express. Gymnast. Dad. Family man. Lead developer at The Minute.
                    ul.page-header-meta.list-inline-responsive
                        li: a(href="https://twitter.com/jvandemo")
                            i.fa.fa-fw.fa-twitter
                            | Twitter
                        li: a(href="https://github.com/jvandemo")
                            i.fa.fa-fw.fa-github
                            | GitHub

    section.page-body
        .container
            .row
                .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2

                    .timeline

                        :markdown

                            ### 1978
                            Born in Eeklo, Belgium

                            ### 1985
                            Started playing with my first computer, a Sinclair ZX Spectrum

                            ### 1986
                            Got a Tandy 1000 and started writing my own MS-DOS batch scripts on those large 5 1/4-inch floppy disks

                            ### 1988
                            Started helping my dad, who had a computer shop, with installing and configuring pc's for clients and creating custom MS-DOS menu systems for users

                            ### 1990
                            Studied Latin-Mathematics at Sint-Lievenscollege, Ghent
                            <br>
                            Created my first website

                            ### 1996
                            Studied Informatics at University Ghent

                            ### 1999
                            Started working at Infoserve IT Resourcing as a consultant but quickly became the internal developer responsible for making applications and websites using Lotus Notes/Domino

                            ### 2005
                            Started working at RACKBOOST as a server engineer installing and configuring Windows and Linux servers, setting up and maintaining IP networks, and developing custom web based software solutions for clients in PHP and MySQL

                            ### 2010 - Present
                            Currently working as lead JavaScript developer at The Minute
