footer.site-footer
    .container
        .row
            .col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2
                ul
                    li: a(href="https://twitter.com/jvandemo", target="_blank") Twitter
                    li: a(href="https://plus.google.com/+JurgenVandeMoere", target="_blank") Google+
