@import "../../../_build/_variables";

section.article {
  padding-bottom: 3rem;
  h2 {
    font-size: @font-size-h3;
  }
  h3 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  ul {
    list-style-type: circle;
    li {
    }
  }
  img{
    width: 100%;
  }
  @media (max-width: @screen-sm-max) {
    h1{
      font-size: @font-size-h2;
    }
    h2{
      font-size: (0.7 * @font-size-h3);
    }
    h3{
      font-size: 0.8rem;
    }
  }
}

section.article-header{
  background: @jvandemo-dark-blue;
  margin: -128px 0 4rem 0;
  padding: 128px 0 128px 0;
  h1{
    color: #ffffff;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
  ul.article-header-meta {
    margin: 1rem 0 0 0;
    font-size: 1rem;
    color: #9199AA;
    i {
      font-size: 0.75rem;
      margin-right: 0.1rem;
    }
  }
}

section.article-body{
}

section.articles-index {
  padding-bottom: 5rem;
}

.article-thumb {
  border-bottom: 1px solid #E4EBF2;
  padding-bottom: 1.5rem;
  margin-top: 1.5rem;
  &:first-child {
    margin-top: 0;
  }
  h1 {
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
    padding: 0;
    a{
      line-height: 1.4em;
    }
  }
  h2 {
    font-size: 1rem;
    font-weight: 300;
    margin: 0.5rem 0 0 0;
    padding: 0;
    // color: #9199AA;
  }
  ul.article-thumb-meta {
    margin: 0.5rem 0 0 0;
    font-size: 0.85rem;
    color: #9199AA;
    i {
      font-size: 0.75rem;
      margin-right: 0.1rem;
    }
  }
  ul.article-thumb-tags {
    margin: 0.5rem 0 0 0;
    font-size: 0.85rem;
    color: #9199AA;
    i {
      font-size: 0.75rem;
      margin-right: 0.1rem;
    }
  }
  .article-intro{
    margin: 1.5rem 0 1.3rem 0;
    span.article-read-more{
      margin-left: 0.5rem;
      i {
        font-size: 0.75rem;
        margin-right: 0.1rem;
      }
    }
  }
}

section.article.header-rocks{
  section.article-header{
    background: @jvandemo-dark-blue url(/components/articles/img/header/rocks.jpg) no-repeat bottom center;
    background-size: cover;
  }
}
