section.page.page-hire-me

    section.page-header
        .container
            .row
                .col-xs-10.col-xs-offset-1.col-md-6.col-md-offset-3
                    h1 Need help with your AngularJS project?
                    h2
                        i.fa.fa-fw.fa-envelope-o
                        | Email me at <a href="mailto:hire@jvandemo.com">hire@jvandemo.com</a>.

    section.page-body
        .container
            .row
                .col-xs-10.col-xs-offset-1.col-sm-8.col-sm-offset-2

                    :markdown
                        ### Can I work on-site at your office?
                        No, I'm sorry. I already work as lead developer at The Minute, so I only accept new projects that I can work on remotely.
                        ### Can I work with your existing team?
                        Yes, even though I'm used to working independently, it is always great to be part of a motivated team as well.
                        ### Am I available for meetings?
                        Absolutely, I'm always available via Skype when working.
                        ### Do I charge extra for delivering the source code?
                        Absolutely not. I always deliver both the source code and the build code.
                        ### Do I charge per hour or a fixed project fee?
                        Whatever we agree on. Whenever possible, I use my personal set of <a href="/tools/">tools</a> at no extra costs to quickly kickstart your project and saving you a lot of time and money.
                        ### Pricing and availability
                        For details about pricing and availability, please email me at <a href="mailto:hire@jvandemo.com">hire@jvandemo.com</a> and I'll get back to you shortly.
                        Thank you.
