article
    .container
        .row
            .col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2
                != yield

footer.article-footer
    .container
        .row
            .col-xs-10.col-xs-offset-1.col-md-8.col-md-offset-2
                section.article-subscribe
                    h1 Never miss an article again
                    p
                        | Have new articles delivered conveniently to your inbox.
                        br
                        | Don't worry, I won't spam you:
                    form.form-dark(
                        action="//jvandemo.us7.list-manage.com/subscribe/post?u=f5d2e64a1e160cafcc91f74a8&amp;id=3338f2c73d",
                        method="post"
                        )
                        .row
                            .col-sm-6
                                input(type="email", placeholder="Your email address")
                            .col-sm-6
                                button.button.button-green(type="submit") Subscribe
                hr
