@import "../../../_build/_variables";

footer.subscribe-footer {
  background: @jvandemo-dark-blue;
  color: @jvandemo-text-color-on-dark-blue;
  padding: 3rem 0 0 0;
  hr {
    margin-top: 5rem;
  }
  section.article-subscribe {
    h1 {
      color: #ffffff;
      font-size: 1rem;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
    form {
      input {
        width: 100%;
      }
      button {
        @media (max-width: @screen-xs-max) {
          margin-top: 1rem;
        }
      }
    }
  }
}

footer.site-footer{
  background: @jvandemo-dark-blue;
  padding: 2rem 0;
  @media (max-width: @screen-xs-max) {
    text-align: center;
  }
  ul{
    margin: 0;
    padding: 0;
    @media (max-width: @screen-xs-max) {
      display: inline-block;
    }
    li{
      display: inline-block;
      margin: 0 1rem;
      a{
        text-transform: uppercase;
        border-bottom: none;
        letter-spacing: 0.5px;
        color: @jvandemo-text-color-on-dark-blue;
        font-size: .75rem;
        font-weight: 400;
        &:hover{
          color: #eff1f3;
        }
        i{
          font-size: 0.75rem;
        }
      }
      &.active{
        a{
          color: #ffffff;
        }
      }
      &:first-child{
        @media (min-width: @screen-sm-min) {
          margin-left: 0;
        }
      }
    }
  }
}
