- var slug = 'the-nitty-gritty-of-compile-and-link-functions-inside-angularjs-directives-part-2-transclusion';
- var article = public.components.articles._data[slug];

include ../_layouts/article-default
