- var slug = 'top-5-benefits-after-6-months-of-component-driven-angularjs-development';
- var article = public.components.articles._data[slug];

include ../_layouts/article-default

update-meta(name="description", content="#{article.title}")
